:root {
  /* background colors */
  --black-0: #1E1E1E;
  --black-1: #252526;
  --black-2: #2D2D2D;
  --black-3: #333333;
  --black-4: #3C3C3C;
  --black-5: #474748;

  /* text colors */
  --red-0: #CE9178;
  --gold-0: #CBBA5E;
  --green-0: #6A8A35;
  --cyan-0: #8CDCDA;
  --blue-0: #0E81CF;
  --blue-1: #3CA9F2;
  --blue-2: #569CD6;
  --gray-0: #898989;
  --gray-1: #BFBFBF;
  --gray-2: #C5C5C5;
  --white-0: #D4D4D4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  font-family: monospace;
  color: var(--white-0);
  background-color: var(--black-0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: monospace;
}

p {
  font-size: 24px;
}

header {
  color: var(--gray-0);
  padding: 20px 35px;
  background-color: var(--black-1);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

header h1 {
  font-weight: bold;
  font-size: 48px;
  margin: 0;
}

header h1 a {
  color: var(--blue-1);
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
}

header nav ul li {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
}

header nav ul li:hover {
  color: var(--white-0);
}

.about {
  display: inline-block;
  padding: 32px 64px;
}

.about h2 {
  font-size: 32px;
  color: var(--red-0);
  text-align: center;
}

.about-info {
  display: flex;
  align-items: center;
}

.about img {
  width: 20%;
  height: auto;
  float: left;
}

.about p {
  width: 80%;
  padding: 32px;
  float: right;
}

footer {
  width: 100%;
  padding: 40px 35px;
  line-height: 1.5;
  /* add display: flex? */
  /* add flex-wrap: wrap? */
  /* justify-content: space-between; */
}

footer ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

footer ul li {
  display: inline;
  color: var(--green-0);
  font-size: 24px;
  margin: 0;
}

footer ul li a {
  margin: 0 30px;
  font-size: 24px;
  color: var(--white-0);
}

footer ul li a:hover {
  color: var(--cyan-0);
}